{% include "header1.html" %}
{% include "header2.html" %}
<div class='config'>
    <div class='new_game'>
        Stats: {{name}}
    </div>
</div>
<div class='config'>
    <div class='new_game'>
        <a href='/'>Return</a>
    </div>
</div>
</div>
<div class='box graph'>
    <table>
        <caption>1v1: {{elo1}}</caption>
        <thead>
            <tr>
                <th>Opponent</th>
                <th>ELO</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games1 %}
            <tr class="{{ game.win }}">
                <td>{{ game.opponent }}</td>
                <td>{{ game.elo_diff }}</td>
                <td>{{ game.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class='box graph'> 2v2: {{elo2}} </div>
{% include "footer.html" %}